<!DOCTYPE html>
<html lang="en" ng-app="booksApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/styles.css">
  <!-- Angular Scripts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-animate.min.js" charset="utf-8"></script>
  <!-- Local Scripts -->
  <script src="/js/app.js" charset="utf-8"></script>
  <script src="/js/controllers/slider.js" charset="utf-8"></script>
  <script src="/js/services/booksApi.js" charset="utf-8"></script>
  <title>Kaplan Test Prep - Titles</title>
</head>
<body>
  <div class="slider" ng-controller="SliderController">
    <div class="slide" ng-repeat="book in books">
      <div class="curve"></div>
      <img ng-src="{{book.brandImage}}" alt="Kaplan Medical logo" class="logo">
    </div>
  </div>
</body>
</html>
