<!DOCTYPE html>
<html lang="en" ng-app="booksApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <!-- Angular Scripts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-animate.min.js" charset="utf-8"></script>
  <!-- Local Scripts -->
  <script src="/js/app.js" charset="utf-8"></script>
  <script src="/js/controllers/slider.js" charset="utf-8"></script>
  <script src="/js/services/booksApi.js" charset="utf-8"></script>
  <title>Kaplan Test Prep - Titles</title>
</head>
<body ng-controller="SliderController">
  <div class="slider">
    <div class="slide" ng-repeat="book in books">
      <div class="curve"></div>
      <img ng-src="{{book.brandImage}}" alt="Kaplan Medical logo" class="logo">
      <div class="title-block">
        <h2 class="title">{{book.title}}<span id="title-trade">&trade;</span></h2>
        <h3 class="subtitle">{{book.subtitle}}</h3>
        <h4 class="subtitle-2">{{book.subtitle2}}</h4>
      </div>
      <h4 class="tagline">{{book.tagline}}</h4>
      <h4 class="edition">{{book.edition}} EDITION</h4>
      <div class="key-points">
        <div ng-repeat="keyPoint in book.keyPoints" class="key-point">
          <p class="key-point-text">{{keyPoint}}</p>
          <hr class="key-point-line">
        </div>
      </div>
      <h4 class="author">{{book.author}}</h4>
      <h6 class="legal">{{book.legal}}</h6>
    </div>
  </div>
  <div class="slider-buttons">
    <button ng-click="toggleSlider($event)" class="slider-button"><i id="play-pause" class="fa fa-play-circle"></i></button>
    <button ng-click="resetSlider($event)" class="slider-button"><i class="fa fa-stop-circle"></i></button>
  </div>
</body>
</html>
