* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slider {
  width: 100%;
  height: 480px;
  margin-top: 20px;
  overflow: hidden;
}
.slide {
  position: relative;
  display: inline-block;
  background-color: rgb(42, 37, 125);
  border: 2px solid rgb(69, 99, 139);
  height: 480px;
}

/*SMALL SCREEN*/
@media (max-width: 600px) {
  body {
    background-color: rgb(240, 210, 225);
  }
  .slide {
    width: 90%;
    margin: 0 5%;
  }

}
/*MEDIUM SCREEN*/
@media (min-width: 600px) and (max-width: 1060px) {
  body {
    background-color: rgb(160, 240, 156);
  }
  .slide {
    width: 45%;
    margin: 0 2.5%;
  }
}
/*LARGE SCREEN*/
@media (min-width: 1060px) {
  body {
    background-color: rgb(157, 178, 241);
  }
  .slide {
    width: 30%;
    margin: 0 1.666667%;
  }
}
